$dark-gray: #444444;
$mint-white: #f7f7f7;
$mint-green: #006688;
$mint-gradient-primary: linear-gradient(45deg, #131313, #131313, #006688);
$orange-gradient: linear-gradient(185deg, #ffb37b, #f56600, #b56400);
$sea-green: #00bfb5;
$black-semi-transparent: rgba(0, 0, 0, 0.7);
