@import './_settings';
@import './_colors';

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-family: $globalFont;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  color: $dark-gray;
}

body {
  margin: 0;
  background-color: rgba(238, 254, 255, 0.5);
}

p,
li {
  line-height: 1.7;
  font-size: 18px;
  @media (min-width: 600px) {
    line-height: 2;
  }
}

h1 {
  font-weight: 400;
  font-size: 32px;
}

h2 {
  font-weight: 500;
  font-size: 24px;
}
