@import './../../styles/_colors';

.navBar {
  align-items: center;
  background-image: $mint-gradient-primary;
  border-bottom: 2px solid $sea-green;
  display: flex;
  height: 60px;
  justify-content: space-between;
  padding: 0 24px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  &-logo {
    display: block;
    width: 150px;
  }
}
